@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
}

.app {
  margin: 0;
}

:root {
  /* ---color--- */
  --color-01: #F7F7F7;
  --color-02: #F7EDE4;
  --color-03: #D6B3A7;
  --color-04: #C90B06;
  --color-bg: #FFFFFF;
  --color-text-light: #FFFFFF;
  --color-text-dark: #000000;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* --------------------------------------------- */
.mobile-show {
  display: none;
}

.desktop-show {
  display: block;
}

.nav-items {
  margin-top: 1.5rem;
  margin-right: 0.2rem;
  height: 3.5rem;
  width: 7rem;
  background-color: var(--color-02);
  border-radius: 1rem 1rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-items {
  background-color: var(--color-bg);
}

.nav-items-Order {
  margin-top: 1.5rem;
  margin-left: 0rem;
  margin-right: 0.2rem;
  padding-left: 0rem;
  height: 3.5rem;
  width: 45%;
  background-color: var(--color-02);
  border-radius: 1rem 1rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-items-Order {
  background-color: var(--color-bg);
}



.food-content {
  min-height: 55rem;
}

.btn-add-order {
  width: 90%;
  height: 2.5rem;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--color-04);
  color: var(--color-text-light);
}

.btn-add-order:hover {
  background-color: #f50d05;
}


@media (min-width: 768px) {
  .nav-items:hover {
    background-color: var(--color-bg);
  }

}

/* ใหญ่ไม่เกิน 768 */
@media (max-width: 768px) {
  * {
    outline: none;
  }

  .mobile-show {
    display: block;
  }

  .desktop-show {
    display: none;
  }

  .food-content {
    min-height: 10rem;
  }

  .nav-items {
    margin: 0.5rem 0.2rem 0.5rem 0.2rem;
    width: 23%;
    padding: 0rem;
    height: 3.5rem;
    background-color: var(--color-bg);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 700;
  }

  .active-items {
    background-color: var(--color-text-dark);
  }

  .nav-items-Order {
    margin-top: 1.5rem;
    height: 3.5rem;
    width: 7rem;
    background-color: var(--color-02);
    border-radius: 1rem 1rem 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .active-items-Order {
    background-color: var(--color-bg);
  
  }

}